
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Réseaux Sociaux:</h5>
                <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>


            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright Ciloo
            <a class="grey-text text-lighten-4 right" href="http://geekygirlworld.blogspot.fr/">Ce que vous verrez en suivant ce lien est incroyable, la 3254ème va vous étonner!</a>
        </div>
    </div>
</footer>
