
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 social-network">


                                <div class="col s4">
                    <i class="fa fa-github fa-lg" aria-hidden="true"></i> <a class="grey-text text-lighten-4" href="https://github.com/CilooW">CilooW</a>
                </div>
                <div class="col s4">
                    <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i> <a class="grey-text text-lighten-4" href="https://fr.linkedin.com/in/cecile-angays">Cécile Angays</a>
                </div>
                <div class="col s4">
                    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i> <a class="grey-text text-lighten-4" href="https://twitter.com/cilooa">@CilooA</a>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright Ciloo
            <a class="grey-text text-lighten-4 right" href="http://geekygirlworld.blogspot.fr/">Ce que vous verrez en suivant ce lien est incroyable, la 3254ème va vous étonner!</a>
        </div>
    </div>
</footer>
