<header>
    <div class="navbar-fixed">
    <nav>
            <div class="nav-wrapper">
                    <a class="brand-logo" href="#">Ciloo</a>
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li><a href="#">Qui je suis ?</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Mes outils</a></li>
                    <li><a href="#">Loisirs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
    </nav>
</div>
</header>