<header>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        Ciloo
                    </a>
                </div>
                <ul class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Qui je suis ?</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Mes outils</a></li>
                        <li><a href="#">Loisirs</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

</header>