.all {
    font-size: 1.2em;
}

.accueil {
    background-image: url(../media/inarijinja-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.accueil .quote {
    position:absolute;
    display: block;
    top : 400px;
    left: 50px;
    color: white;
}

#citation {
    font-size: 2.5em;
}

#auteur {
    font-size: 1.7em;
    text-align: right;
}

h2 {
    text-align: center;
}

.brand-logo{
    margin-left: 20px;
}

.nav-wrapper li a {
    font-size: 1.4em;
}

.nav-wrapper {
    background-color: #1c2529;
}


/* section QUI JE SUIS */

.quijesuis {
    width: 70%;
    margin:0 auto;
}

.quijesuis img {
    width:80%;
}

.desc_me {
    font-size: 1.3em;

}

.fiveyears {
    text-decoration: line-through;
}

.keywords {
    font-size: 1.7em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.keyword {

    border-radius: 2%;
}

.hashtag {
    font-weight: bold;
}

/* Mes Projets */

.projets {
    background-image: url(../media/lightroad-min.jpg);

    /*imgfix*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    position: relative;

}

.projets h2 {
    color:white;
    padding-top:20px;
}

.blockprojet {
    margin-top: 20px;
    padding-bottom: 20px;
}

.proj img {
    height:235px;
}

/*Langages et outils */

.langages img {
    width: 100px;
}

/* Culture */

#culture img {
    max-width: 300px;
}

/* Footer */

footer.page-footer {
    background-color: #1c2529;
}